<div id="page">
			<div class="pi-container">
				<div class="pi-section-w pi-section-white">
					<div class="pi-section">
						<h4 class="pi-has-bg pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-25">à propos de nous</h4>
						<div class="pi-img-w pi-img-round-corners pi-img-left" style="width: 240px"><img src="http://tong.visitkorea.or.kr/cms/resource/87/1735587_image2_1.JPG" alt=""></div>
						<p class="pi-text-justify">Le Lambda est un cinéma indépendant qui a pour but la diffusion d'un cinéma de qualité. Nous dévelopons un regard ouvert sur le cinéma, qui permet la découverte des cinématographies étrangères, défend un cinéma novateur, tout en offrant la possibilité
							de redécouvrir des films anciens sur grand écran. Attaché à la liberté de la création cinématographique et à son indépendance, Le Lambda se veut ausi un lieu de rencontres, d'échanges et de débats.</p>
					</div>
				</div>
			</div>
		</div>